body {
  font-family: "Poppins", sans-serif;
}

p {
  margin: 0;
}

.df-primary {
  --bg-color: #4378db;
  --text-color: #faf0e6;
}
.df-secondary {
  --bg-color: rgb(249, 186, 11);
  --text-color: #333;
}
.df-solid {
  background-color: var(--bg-color);
  border-color: var(--bg-color);
  color: var(--text-color);
}
.df-stroked {
  background-color: transparent;
  border-color: var(--bg-color);
  color: var(--bg-color);
}
